@charset "UTF-8";
.container {
  max-width: 1140px;
  padding: 0px 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Livvic', sans-serif;
  margin: 0;
  padding: 0;
}

.burger__btn {
  display: none;
}

.burger {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 6px;
}

header {
  background: #014E56;
}

header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 77px;
}

header .header__menu--links {
  margin-left: 100px;
}

.contact-us {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  padding: 10px 33px;
  text-decoration: none;
}

.contact-us:hover {
  color: #002529;
  background: #FFFFFF;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.section1 {
  background: #014E56;
}

.section1::before {
  content: '';
  background-image: url("../images/section1-bgi1.svg");
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 350px;
}

.section1__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 133px;
  padding-bottom: 250px;
}

.section1__content--right .all--p {
  width: 445px;
  margin-top: 90px;
  position: relative;
}

.section1__content--right .all--p::after {
  content: '';
  background-image: url("../images/section1-bgi2.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 360px;
  height: 200px;
  bottom: -350px;
  right: 0;
}

.section1 .title {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  color: #FFFFFF;
}

.orange {
  color: #F67E7E;
}

.all--p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.all--h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}

.links {
  text-decoration: none;
}

.all--h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
}

.block--p {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-top: 16px;
  margin-bottom: 32px;
  position: relative;
}

.size {
  width: 445px;
}

.section2 {
  background: #012F34;
  position: relative;
}

.section2::before {
  content: '';
  background-image: url("../images/section2-bgi.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
  bottom: 30px;
  width: 100px;
  height: 244px;
}

.section2__content {
  padding-top: 200px;
  padding-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section2__content--block {
  position: relative;
}

.section2__content--block::before {
  content: '';
  background-image: url("../images/block-img.svg");
  position: absolute;
  left: -85px;
  width: 72px;
  height: 72px;
}

.section2 .ball1::before {
  content: '';
  background-image: url("../images/block-img2.svg");
  position: absolute;
  left: -85px;
  width: 72px;
  height: 72px;
}

.section2 .ball2::before {
  content: '';
  background-image: url("../images/block-img3.svg");
  position: absolute;
  left: -85px;
  width: 72px;
  height: 72px;
}

.block--h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
}

.home-links {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}

.home-links:hover {
  color: #F67E7E;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.light--p {
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.section3 {
  background: #004047;
  position: relative;
}

.section3:before {
  content: '';
  background-image: url("../images/section3-bgi.svg"), url("../images/section3-bgi2.svg");
  position: absolute;
  background-position: top left, bottom right;
  background-size: 147px 100px, 200px 100px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.section3-content__top .all--h2 {
  text-align: center;
  padding-top: 140px;
  margin-bottom: 56px;
}

.section3-content__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section3-content__block {
  width: 350px;
  text-align: center;
  padding-bottom: 151px;
}

.section3 .block--p::before {
  content: '';
  position: absolute;
  background-image: url("../images/“.svg");
  background-repeat: no-repeat;
  width: 67px;
  height: 56px;
  left: 40%;
  top: -35px;
  z-index: -1;
}

.black--h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
}

.footer--link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #012F34;
  padding: 10px 33px;
  border: 2px solid #012F34;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  text-decoration: none;
}

.footer--link:hover {
  color: #FFFFFF;
  background: #012F34;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
}

.section4 {
  background: #F67E7E;
  background-image: url("../images/footer-bgi.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.section4-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 76px;
}

.footer--p {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

footer {
  background: #002529;
  position: relative;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-block__about {
  margin-left: 125px;
}

footer .footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 48px;
  padding-bottom: 48px;
}

footer .home {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-right .footer--p {
  margin-top: 80px;
}

footer .footer-icons {
  position: absolute;
  right: 18%;
}

footer .footer-icons .footer-img {
  margin-right: 10px;
}

.title-h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  color: #FFFFFF;
}

.block-size {
  width: 445px;
}

.blue--span {
  color: #79C8C7;
}

.section-top {
  background-color: #014E56;
}

.section-top .section-top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header__menu--links {
    display: none;
  }
  .contact-us {
    display: none;
  }
  .burger__btn {
    display: block;
  }
  .section1__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 80px;
  }
  .all--p {
    text-align: center;
  }
  .section1::before {
    content: '';
    display: none;
  }
  .section1__content--right {
    padding-bottom: 197px;
  }
  .section1__content--right .all--p::after {
    bottom: -297px;
    right: 0;
    left: 0;
    margin: auto;
  }
  .size {
    width: 310px;
  }
  .section2::before {
    top: 0;
  }
  .section2__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 100px;
  }
  .block-size {
    width: 100%;
  }
  .section2__content--block {
    text-align: center;
    padding-top: 136px;
  }
  .p-bottom {
    margin-bottom: 64px;
  }
  .section2__content--block::before {
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .section2 .ball1::before {
    left: 0;
  }
  .section2 .ball2::before {
    left: 0;
  }
  .section3-content__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section3-content__block {
    width: 100%;
    padding-bottom: 50px;
  }
  .section3 .block--p::before {
    left: 45%;
  }
  .section4-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 83px;
    padding-bottom: 83px;
  }
  .section4__right {
    margin-top: 24px;
  }
  .black--h2 {
    text-align: center;
    width: 99%;
  }
  footer .footer-block__about {
    margin-left: 0;
    margin-top: 24px;
  }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .footer-icons {
    left: 42%;
  }
  footer .home {
    margin-top: 24px;
  }
  footer .footer-right .footer--p {
    padding-bottom: 64px;
  }
  .block-padding {
    padding-bottom: 114px;
  }
}
/*# sourceMappingURL=main.css.map */